<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	main 	{ padding-top:50px; }

	.Big { font-size : 24px;}
	.Medium {font-size : 20px;}

	.Center { text-align: center;}

	.title { font-size : 16px;
			 color: #3CB371;}

	.desc {font-size : 12px;
		   color: #4a4a4a;}
</style>
