<!DOCTYPE html>
<html lang="en">
<head>
   <title>HOME Page</title>
   
</head>
<body class="container">

   
    <main>
      <p class="Big">Welcome to Platerate Web Server</p>
       <p class="Medium">GET methods are:<br/>
        <ul>
           <li> /post <br/> </li>
           <li> /aboutme with q=? <br/>
                <ul>
                    <li>description</li>
                    <li>hobbies</li>
                    <li>tech</li>
                    <li>techstack</li>
                </ul>
            </li>
        </ul>
        </p>
    </main>

    <% include ../partials/head %>

</body>


</html>