<!DOCTYPE html>
<html lang="en">
<head>
   <title>POSTS</title>
   
</head>
<body class="container">

   
    <main>
        <ol class="Center">
            <div >
                <% notes.forEach(function(note) { %>

                    <li>
                        <span class="title"><%= note.title %><br/></span>
                        <span class="desc"><%= note.body %></span>  
                    </li>

                    
                <% }); %>
            </div>
        </ol>
    </main>

    <% include ../partials/head %>

</body>


</html>