<!DOCTYPE html>
<html lang="en">
<head>
   <title>POSTS</title>
   
</head>
<body class="container">

   
    <main>
        <ol class="Center">
            <div >
                <% notes.forEach(function(note) { %>
                    <div class = "title"  ><%= note.title %> </div>
                    <div class = "desc" ><%= note.body %></div>
                <% }); %>
            </div>
        </ol>
    </main>

    <% include ../partials/head %>

</body>


</html>